{% extends 'isoapp/common/index.html' %}
{% include "isoapp/common/static_files.html" %}
{% block title %} Product Setup{% endblock %}
{% block content %}
<div class="col-10 reportcard_setting">
    <div class="row">
        <div class="col-md-6">
            <strong> <i class="icon-pin"></i>Product Setup</strong>
        </div>
        <div class="col-md-6 text-right">
            <a style="text-align: right;" href="/product-list/"> <i class="fa fa-hand-o-right"></i> Product List</a>
        </div>
    </div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table class="table table-bordered">
           
            <tr>
                <th>Product Name <span style="color: red;">*</span>  </th>
                <td> <input type="text" name="product_name" class="form-control" required /> </td>
            
                <th>Category <span style="color: red;">*</span> </th>
                <td>
                    <select name="category_name" id="category_name" class="form-control" required>
                        <option value="">-----Select-----</option>
                        {% for data in product_category_list %}
                            <option value="{{ data.pk }}">{{ data.category_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Purchase Price<span style="color: red;">*</span>  </th>
                <td> <input type="number" name="purchase_price" id="purchase_price" class="form-control" required /> </td>
            
                <th>Sales Price <span style="color: red;">*</span> </th>
                <td> <input type="number" name="sales_price" id="sales_price" class="form-control" required /> </td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td colspan="3"> <textarea type="text" name="remarks" class="form-control" > </textarea> </td>
            </tr>
           
            <tr>
                <td colspan="4" style="text-align: center;"><input type="submit" name="btnSave" value="Save" class="btn btn-success" /></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $('#sales_price').mouseout(function(){
    var sales_price = $('#sales_price').val()
    if(parseInt(sales_price) < 10000)
    {
        alert("Price not allow less than 10000");
        $('#sales_price').focus()
        $('#sales_price').val('')
    }
});
    $('#purchase_price').mouseout(function(){
    var purchase_price = $('#purchase_price').val()
    if(parseInt(purchase_price) < 10000)
    {
        alert("Price not allow less than 10000");
        $('#purchase_price').focus()
        $('#purchase_price').val('')
    }
});
</script>
{% endblock %}